body {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}
#chat-wrapper {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgb(0, 0, 0,0.5);
}
#chat-header {
  background-image: linear-gradient(to right,#1a2a6c,#b21f1f,#fdbb2d);
  color: white;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#chat-header h1 {
  margin: 0;
  font-size: 1.2em;
}
#chat-container {
  height: 500px;
  display: flex;
  flex-direction: column;
}
#chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 15px;
}
.message {
  margin-bottom: 15px;
  max-width: 80%;
  clear: both;
}
.user-message {
  background-color: #e7a924;
  color: white;
  float: right;
  border-radius: 10px;
  padding: 10px;
}
.bot-message {
  background-color: #e9ecef;
  color: black;
  float: left;
  border-radius: 10px;
  padding: 10px;
}
#input-area {
  display: flex;
  background-image: linear-gradient(to right,#1a2a6c,#b21f1f,#fdbb2d);
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #e0e0e0;
}

#message-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 25px;
  margin-right: 10px;
  outline: none;
  box-shadow: 3px 3px 6px rgba(0, 0, 0,0.5);
}
#send-btn {
  background-color: white;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 5px 5px 6px rgba(0, 0, 0,0.5);
}

#send-btn:active{
  transform: scale(0.9);
}